In [ ]:
import pandas as pd
df = pd.read_csv("ap_bus_details.csv")
df = pd.read_csv("assam_bus_details.csv")
df = pd.read_csv("chandigarh_bus_details.csv")
df = pd.read_csv("himachal_bus_details.csv")
df = pd.read_csv("kerala_bus_details.csv")
df = pd.read_csv("rajasthan_bus_details.csv")
df = pd.read_csv("sb_bus_details.csv")
df = pd.read_csv("Telangana_bus_details.csv")
df = pd.read_csv("up_bus_details.csv")
df = pd.read_csv("wb_bus_details.csv")
df = pd.read_csv("jk_bus_details.csv")

# List of CSV file paths
csv_files = ["ap_bus_details.csv", "assam_bus_details.csv", "chandigarh_bus_details.csv", "himachal_bus_details.csv",  "kerala_bus_details.csv","rajasthan_bus_details.csv", "sb_bus_details.csv", "Telangana_bus_details.csv", "up_bus_details.csv", "wb_bus_details.csv", "jk_bus_details.csv"]   

# Read each CSV file into a DataFrame and store it in a list
df = [pd.read_csv(file) for file in csv_files]

# Concatenate all DataFrames in the list
combined_df = pd.concat(df, ignore_index=True)

combined_df.to_csv("bus_routes.csv", index=False)



# Read the CSV file
df = pd.read_csv("bus_routes.csv")

# Display the DataFrame
print(df)

In [ ]:
from mysql import connector
import pandas as pd

# MySQL connection
myconnection =connector.connect(
    host='127.0.0.1',
    user='root',
    passwd='123456789',
    database='redbus'
)

# Read the CSV file and process it
df = pd.read_csv("bus_routes.csv")
df = df.dropna()  # Drop rows with null values

# Generate MySQL-compatible column definitions
column_definitions = ", ".join(
    f"`{col}` {dtype}"
    for col, dtype in zip(
        df.columns,
        df.dtypes.replace({
            "float64": "FLOAT",
            "object": "TEXT",
            "int64": "INT"
        })
    )
)

table_name = "bus_routes"
cursor = myconnection.cursor()

# Create table
create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({column_definitions})"
cursor.execute(create_table_query)

# Insert data into the table
insert_query = f"INSERT INTO `{table_name}` VALUES ({', '.join(['%s'] * len(df.columns))})"

for _, row in df.iterrows():
    cursor.execute(insert_query, tuple(row))

# Commit the transaction and close the connection
myconnection.commit()
cursor.close()
myconnection.close()

print(f"Data from 'bus_routes.csv' successfully imported into the '{table_name}' table.")